<h1>_ARCHITEKT</h1>
  <div class="photoContainer">
    <a href="/gallery/{{photo.id}}" class="photoLink-single">
      <img src="{{photo.link}}" class="photo">
    </a>
    <br>
    {{photo.author}}
    <br>
    {{photo.link}}
    <br>
    {{photo.description}}
    <br>
  </div>